NOTION_TOKEN="secret_xxx"
PARENT_PAGE_ID="xxx"
TASKS_PAGE_ID="xxx"

# Selección de Backend: "notion", "local", "gkeep", "gtasks" (separar por comas si quieres varios)
DIARIO_BACKEND="notion,local"
TAREA_BACKEND="notion,gtasks"

# Google Keep Config
GOOGLE_KEEP_EMAIL="tu@gmail.com"
# Usa uno de los dos:
GOOGLE_KEEP_MASTER_TOKEN="aas_t_tu_token_maestro"
GOOGLE_KEEP_PASSWORD="tu_app_password_de_16_letras"
GOOGLE_KEEP_LIST_NAME="InboxTareas2"

# Google Tasks Config (Requiere archivo credentials.json)
GOOGLE_TASKS_CREDENTIALS="credentials.json"
GOOGLE_TASKS_LIST_NAME="InboxTareas2"
